body{
    font-family:Arial ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(44, 0, 67);
    color: white;
    

}

.player{
    text-align: center;
    background: black;
    padding: 50px;
    border-radius: 40px;
    width: 100% ;
    max-width: 300px;
}

button{
    font-size:20px;
    margin: 10px;
    
}

.playing{
    animation: pulse 1s infinite;
}

#progress {
  width: 100%;
  margin: 15px 0;
}

#cover {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

/* Playlist box */
.playlist {
  width: 250px;
  max-height: 400px;
  overflow-y: auto;
  background: #222;
  border-radius: 15px;
  padding: 10px;
}

.track {
  padding: 10px;
  border-bottom: 1px solid #333;
  cursor: pointer;
  transition: 0.2s;
}

.track:hover {
  background: #333;
}

/* active track */
.track.active {
  background: #555555;
}

@media (max-width: 768px) {
  body {
    height: auto;
    padding: 20px 0;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .player {
    width: 90%;
    max-width: 350px;
  }

  .playlist {
    width: 90%;
  }
}